version: 2
jobs:
  build:
    docker:
      - image: circleci/php:7.4.2
        environment:
            DATABASE_URL: postgresql://root@127.0.0.1:5432/heroku_test?serverVersion=12&charset=utf8
      - image: circleci/postgres:12-alpine
        environment:
            POSTGRES_USER: root
            POSTGRES_DB: heroku_test

    steps:
      - checkout
      - restore_cache:
            key: dependency-cache-{{ checksum "composer.json" }}

      - run: composer install -n --prefer-dist
      - save_cache:
            key: dependency-cache-{{ checksum "composer.json" }}
            paths:
                - vendor
      - run: sudo apt-get update
      - run: sudo apt-get install -y libpq-dev  postgresql-client
      - run: sudo docker-php-ext-install zip pdo pgsql pdo_pgsql
      - run: bin/console d:m:m -n
      - run: ./bin/phpunit

  terraform:
      docker:
          - image: hashicorp/terraform:light
      steps:
          - checkout
          - bash .circleci/setup-heroku.sh
          - run: cd terraform && terraform init &&terraform apply -input=false -auto-approve

  deploy_to_stage:
      docker:
          -   image: circleci/php:7.4.2
      steps:
          - checkout
          - sh .circleci/setup-heroku.sh
          - git push https://git.heroku.com/symfony-terraform-stage.git master

  healthcheck:
      docker:
          -   image: circleci/php:7.4.2
      steps:
          - checkout
          - run: bin/healthcheck

  promote_to_production:
      docker:
          -   image: circleci/php:7.4.2
      steps:
          - checkout
          - sh .circleci/setup-heroku.sh
          - heroku pipelines:promote -r symfony-terraform-stage

workflows:
    version: 2
    deploy:
        jobs:
            - build
            - terraform:
                  requires:
                      - build
            - deploy_to_stage:
                  requires:
                      - terraform
            - healthcheck:
                  requires:
                      - deploy_to_stage
            - promote_to_production:
                  requires:
                      - healthcheck
