version: 2
jobs:
  build:
    docker:
      - image: thecodingmachine/php:7.4-v3-slim-fpm
        environment:
            DATABASE_URL: postgresql://root@127.0.0.1:5432/heroku_test?serverVersion=12&charset=utf8
            PHP_EXTENSION_PGSQL: 1
            PHP_EXTENSION_MYSQLI: 0
      - image: circleci/postgres:12-alpine
        environment:
            POSTGRES_USER: root
            POSTGRES_DB: heroku_test

    steps:
      - checkout
      - run: sudo apt install -y postgresql-common
      - run: sudo docker-php-ext-install zip pdo pgsql pdo_pgsql

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "composer.json" }}
            - v1-dependencies-

      - run: composer install -n --prefer-dist

      - save_cache:
          key: v1-dependencies-{{ checksum "composer.json" }}
          paths:
            - ./vendor

      - run: bin/console d:m:m -n

      - run: ./bin/phpunit