version: 2
jobs:
  build:
    docker:
      - image: circleci/php:7.4.2
        environment:
            DATABASE_URL: postgresql://root@127.0.0.1:5432/heroku_test?serverVersion=12&charset=utf8
      - image: circleci/postgres:12-alpine
        environment:
            POSTGRES_USER: root
            POSTGRES_DB: heroku_test

    steps:
      - checkout

      - run: apt-get update && apt-get install -y \
          libfreetype6-dev \
          libjpeg62-turbo-dev \
          libmcrypt-dev \
          libpng-dev \
          libicu-dev \
          libpq-dev \
          libxpm-dev \
          libvpx-dev
      - run: sudo docker-php-ext-install zip pdo pgsql pdo_pgsql

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "composer.json" }}
            - v1-dependencies-

      - run: composer install -n --prefer-dist

      - save_cache:
          key: v1-dependencies-{{ checksum "composer.json" }}
          paths:
            - ./vendor

      - run: bin/console d:m:m -n

      - run: ./bin/phpunit