version: 2
jobs:
  build:
    docker:
      - image: circleci/php:7.4.2
        environment:
            DATABASE_URL: postgresql://root@127.0.0.1:5432/heroku_test?serverVersion=12&charset=utf8
      - image: circleci/postgres:12-alpine
        environment:
            POSTGRES_USER: root
            POSTGRES_DB: heroku_test

    steps:
      - checkout

      - run: composer install -n --prefer-dist

      - run: sudo apt update
      - run: sudo apt install -y postgresql-client || true

      - run: bin/console d:m:m -n

      - run: ./bin/phpunit